* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display:table;
  clear:both;
}

body {
  background-color: lightgray;
}

.wrapper { /* Centro l'intero contenuto e lo stacco dal body */
  max-width:900px;
  margin: 20px auto;
  background-color: white;
}

header {
  height:100px;
}

section#image-hero {
  height: 400px;
  margin: 20px auto;
}

.inner-article > div {
  float: left;  /* Tutti i figli diretti di inner-article saranno flottati a sinistra */
  border: 1px solid black;
}

.inner-article > #barra-superiore {
  height:60px;
  width: 100%;
}

.inner-article > .colonna {
  min-height: 200px;
}
.inner-article > .colonna#colonna-centrale {
  width:60%;
}
.inner-article > .colonna#colonna-sinistra ,
.inner-article > .colonna#colonna-destra {
  width: 20%;
}

footer {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Da qui in poi solo colori di background (assegnazioni provvisorie) */
header {
  background-color: #e579e6;
}
section#image-hero {
  background-color: #e1d67a;
}
.inner-article {
  background-color: #0086ff;
}
.colonna , div#barra-superiore {
  background-color: #abcfe7;
}
footer {
  background-color: #8801fe;
}
/* Fine assegnazione colori */
