* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display:table;
  clear:both;
}

body {
  font-size: 18px;
  line-height: 24px;
}

.wrapper { /* Centro l'intero contenuto e lo stacco dal body */
  max-width:900px;
  margin: 20px auto;
}

/*
#######################
Inizio Regole di header e Nav
#######################
*/

header img#logo {
  height:50px;
}

nav ul#menu {
  list-style: none;
}

nav ul#menu li {
  display: inline-block;
  text-transform: uppercase;
  line-height: 50px;
  margin-right: 20px;
  color: gray;
}

/*
#######################
Fine Regole header/Nav
#######################
*/


/*
#######################
Immagini e layover
#######################
*/

.layover {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.inner-article .layover {
  height: 200px;
}
#image-hero .layover {
  height: 100%;
}

.layover > img {
  position: relative;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.layover , .layover > img {
  border-radius: 10px;
}

/*
############################
 Inizio Regole Slider/Img.Hero
############################
*/

section#image-hero {
  position: relative;
  margin: 20px auto;
  height: 450px;
}

.text-over {
  position: absolute;
  bottom: 0;
  width:60%;
  padding:5%;
  color:white;
}
.text-over h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 15px;
}

/*
############################
 Fine Regole Slider/Img.Hero
############################
*/


.inner-article > div {
  float: left;  /* Tutti i figli diretti di inner-article saranno flottati a sinistra */
}

.inner-article p {
  color:gray;
}

.inner-article h3 {
  font-size: 25px;
  line-height: 50px;
  font-weight: 600;
}

.inner-article > #barra-superiore {
  width: 100%;
  padding: 20px 0;
}

.inner-article > #barra-superiore h1 {
  font-size: 45px;
  line-height: 60px;
}

.inner-article > .colonna#colonna-centrale {
  width:57%;
  margin: 0 1.5%;
}
.inner-article > .colonna#colonna-sinistra ,
.inner-article > .colonna#colonna-destra {
  width: 20%;
}

footer {
  height: 50px;
  margin: 30px auto;
  text-align: center;
}

footer .evidenziato {
  color:red;
  font-size: 35px;
}
